/*//*/ /*/ Variables /*/ /*//*/
// TODO: update colors and fonts if you like
//// Colors ////
$white: #fff;
$black: #000;

$dark-grey: #6B6B6B;
$grey: #A1A1A1;
$light-grey: #D6D6D6;

$dark-blue: #00173D;
$blue: #002868;
$light-blue: #004ECC;
$xlight-blue: #85B4FF;

$dark-green: #269900;
$green: #33CC00;
$light-green: #8FC981;

$dark-yellow: #BE8C24;
$yellow: #FDBB30;
$light-yellow: #FDC959;

$dark-red: #74061E;
$red: #BF0A30;
$light-red: #F98BA3;

$dark-orange: #BE8C24;
$orange: #FF8533;
$light-orange: #FDC959;

//// Fonts ////
@font-face {
    font-family: "CrimsonText-Regular";
    src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
    font-family: "CrimsonText-SemiBold";
    src: url(../fonts/Crimson_Text/CrimsonText-SemiBold.ttf);
}
@font-face {
    font-family: "CrimsonText-Bold";
    src: url(../fonts/Crimson_Text/CrimsonText-Bold.ttf);
}
@font-face {
    font-family: "CrimsonText-Italic";
    src: url(../fonts/Crimson_Text/CrimsonText-Italic.ttf);
}

$crimsontext-regular: "CrimsonText-Regular", "Times Regular", serif;
$crimsontext-semibold: "CrimsonText-SemiBold", "Times SemiBold", serif;
$crimsontext-bold: "CrimsonText-Bold", "Times Bold", serif;
$crimsontext-italic: "CrimsonText-Italic", "Times Italic",serif;