@import 'variables';

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  font-family: $crimsontext-regular;
  font-size: 16px;
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: $white;
  resize: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  outline-color: $blue;
  box-shadow: 0 0 2pt 1pt $blue;
}

textarea {
  font-family: $crimsontext-regular;
  font-size: 16px;
  width: 100%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid $dark-grey;
  border-radius: 4px;
  background-color: white;
}

//// Buttons ////
button {
    font-family: $crimsontext-regular;
    font-size: 20px !important;
    border-radius: 2px;
    transition: background-color 0.15s linear, color 0.15s linear, border 0.15s linear;
    margin: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    button {
        font-size: 16px !important;
    }
}

button:focus {
    border: none;
    outline: none !important;
}
button:hover {
    cursor: pointer;
}

// Sizing
button.sm {
    font-size: 12px;
    padding: 5px 25px;
    font-weight: 600;
}
button.md {
    font-size: 14px;
    padding: 10px 35px;
    font-weight: 700;
}
button.lg {
    font-size: 16px;
    padding: 15px 45px;
    font-weight: 700;
}

.blue-to-inv {
    background-color: $blue;
    color: white;
    border: transparent solid 2px;
}

.blue-to-inv:hover {
    background-color: transparent;
    color: $blue;
    border: $blue solid 2px;
}

.red-to-inv {
    background-color: $red;
    color: white;
    border: transparent solid 2px;
}

.red-to-inv:hover {
    background-color: transparent;
    color: $red;
    border: $red solid 2px;
}

// .md-blue-btn {
//   background-color: $blue;
//   font-family: $roboto-bold !important;
//   font-size: 16px;
//   border-radius: 4px;
//   padding: 10px 35px;
//   color: $white;
//   border: $light-grey solid 1px; 
//   cursor: pointer;
// }

// .md-blue-btn:hover {
//   background-color: $light-blue;
// }

// .md-blue-btn:focus { 
//   border: none;
// }