@import "variables";

.nav-container {
    margin: 0 auto;
}

.nav-logo {
    max-width: 400px;
    vertical-align: middle;
    margin: 10px;
}

.nav-links {
    float: right;
    text-align: right;
    padding: 25px;
}

.nav-button {
    display: inline;
}

/* Mobile */
@media screen and (max-width: 901px) {
    .nav-container {
        text-align: center;
    }

    .nav-links {
        float: none;
        text-align: center;
        padding: 0px;
    }

    .nav-logo {
        max-width: 80%;
    }
}
