@import "variables";
   /* -------------------------------------------------- */
  /* Any other CSS objects that don't fit in elsewhere  */
 /* -------------------------------------------------- */

/* 
* Borders 
*/
.sm-border {
    border-style: solid;
    border-width: 1px;
    border-color: $blue;
}

.md-border {
    border-style: solid;
    border-width: 3px;
    border-color: $blue;
}

.lg-border {
    border-style: solid;
    border-width: 5px;
    border-color: $blue;
}

.left-border {
    border-left: 6px solid $blue;
    padding: 10px 0px 10px 5px;
}


.border-green {
    border: 5px solid $green;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/* 
* Display 
*/
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
.display-inline {
    display: inline;
}
.hide {
    display: none !important;
}

/* 
* Overflow 
*/
.overflow-div {
    overflow-x:auto;
}
.clearfix {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}

/*
* Background colors 
*/
.full-width {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
  }
  
.bg-blue {
    background: $blue
}

.bg-white {
    background: $white
}

.bg-black {
    background: $black
}

/* 
* Table 
*/
table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    font-weight: bolder;
    margin: .5em 0 .75em;
    color: $blue;
    text-align: left;
}

.price {
    text-align: right;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
}

thead {
 background-color: $light-blue;
 color: $white;
}

tbody tr:hover {
    background-color: $xlight-blue;
}

/* 
* Card 
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (min-width: 901px) {
    .card {
        padding: 2%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        padding: 5%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Slanted backgrounds */
// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
      position: relative;
      z-index: 1;
      $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');
  
      #{$selector} {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
        backface-visibility: hidden;
      }
  
      @if $pseudo == 'before' {
        #{$selector} {
          top: 0;
  
          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }
      }
  
      @if $pseudo == 'after' {
        #{$selector} {
          bottom: 0;
  
          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 100%;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }
  
      @if $pseudo == 'both' {
        &:before {
          top: 0;
  
          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }
  
        &:after {
          bottom: 0;
  
          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }
    }
  }
  
  // slanted edges here
  .edge--bottom {
    @include angle(after);
  }
  
  .edge--bottom--reverse {
    @include angle(after, true);
  }
  
  .edge--top {
    @include angle(before);
  }
  
  .edge--top--reverse {
    @include angle(before, true);
  }
  
  .edge--both {
    @include angle(both);
  }
  
  .edge--both--reverse {
    @include angle(both, true);
  }
  
  
  // demo code below
  .slant-block {
    position: relative;
    z-index: 2;
    margin: 0 0 100px 0;
    padding: 100px 20px;
  }


/* 
* Misc 
*/
.rounded {
    border-radius: 50%;
}  

.cursor-pointer {
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: $light-grey !important;
    border: 0 none;
}

.horiz-rule-blue:before,
.horiz-rule-blue:after {
    display: block;
    width: 45%;
    border-bottom: 1px solid $blue;
    content: "";
}








 


